
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Image/Misc/Logo.png">
    <link rel="stylesheet" href="~/Content/app.css">
    <!-- Embedded CSS -->
    @RenderSection("head", false)
</head>
<body>
    <div class="info">@TempData["Info"]</div>
    <header>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <span>Username = @User.Identity.Name</span>
            }
            @if (Session["PhotoURL"] != null)
            {
                <img src="~/Image/Profile/@Session["PhotoURL"]">
            }
        </div>
        <table>
            <tr>
                <td><img src="~/Image/Misc/Logo.PNG" height="150" width="120"></td>
                <td><h1><a href="">Funny Hotel</a></h1></td>
            </tr>
        </table>


    </header>
    <nav>
        <a href="~/Home/Index">Index</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="~/Account/Logout">Logout</a>
        }
        else
        {
            <a href="~/Account/AdminLogin">Admin login</a>
            <a href="~/Account/CustLogin">Customer login</a>
            <a href="~/Account/Register">Register</a>
        }

        @if (User.IsInRole("Member"))
        {
            <a href="~/Account/Password">Reset Password</a>
            <a href="~/Account/Detail">Detail (acc controller)</a>
            <!--<a href="~/Admin/_CustomerDetail">cust detail</a>-->
        }

        @if (User.IsInRole("Member") || User.IsInRole("Admin"))
        {
            //<a href="~/Admin/CustomerEdit">Customer Edit</a>
        }

        @if (User.IsInRole("Admin"))
        {
            <a href="/Admin/ListCustomer">Customer List</a>
            <a href="/Admin/AdminList">Admin List</a>
            <a href="/Admin/AdminEdit">Admin Edit</a>
            <a href="/Admin/ReservationList">Reservation</a>
        }


    </nav>
    <main>
        <h1>@ViewBag.Title</h1>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        Developed by <b>Funny Hotel</b> &middot;
        Copyrighted &copy; @DateTime.Today.Year
    </footer>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/app.js"></script>
    <!-- Embedded JS -->
    @RenderSection("foot", false)
</body>
</html>
