
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Image/Misc/Logo.png">
    <link rel="stylesheet" href="~/Content/app.css">
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <!-- Embedded CSS -->
    @RenderSection("head", false)
</head>
<body onload="DisplayClock(); setInterval('DisplayClock()', 1000);">
    <div class="info">@TempData["Info"]</div>
    <header>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <span>Welcome <a href="~/Account/Detail">@User.Identity.Name</a> </span>
            }
            @if (Session["PhotoURL"] != null)
            {
                <a href="~/Account/Detail">
                    <img src="~/Image/Profile/@Session["PhotoURL"]">
                </a>
            }
            <p id="clock" style="padding-left"> </p>


        </div>
        <table>
            <tr>
                <th>
                    <img src="~/Image/Misc/Logo.PNG" width="150" height="150" />
                </th>
                <th>
                    <h1><a href="~/Home/Index">Funny Budget Hotel</a></h1>
                </th>
            </tr>
        </table>
    </header>
    <nav>
        <a href="~/Home/Index">Home</a>
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="~/Home/RoomList">Room</a>
            <a href="~/Account/Register">Register</a>

        }
        @if (User.IsInRole("Member"))
        {

            <a href="~/Home/RoomList">Room</a>
            <a href="~/Home/ReserveHistory">Reserve History</a>
        }
        @if (User.IsInRole("Admin"))
        {
            <a href="/Admin/ListCustomer">Customer List</a>
            <a href="/Admin/AdminList">Admin List</a>
            <a href="/Admin/ReservationList">Reservation</a>
            <a href="/Admin/Room">Room</a>
            <a href="/Report/ReservationReport">Report</a>
            <a href="/Report/SalesReportByYear">Sales Report</a>
        }

        <a href="~/Home/Location">Location</a>
        <a href="~/Home/Chat">Chatroom</a>

        <div></div> <!--space-->

        @if (User.Identity.IsAuthenticated)
        {
            <a href="~/Account/Logout">Logout</a>
        }
        else
        {
            <a href="~/Account/AdminLogin">Admin login</a>
            <a href="~/Account/CustLogin">Customer login</a>
        }
    </nav>
    <main>
        <h1>@ViewBag.Title</h1>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        Developed by <b>Funny Hotel</b> &middot;
        Copyrighted &copy; @DateTime.Today.Year
    </footer>

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Embedded JS -->
    @RenderSection("foot", false)
</body>
</html>
