@model LoginModel

@{
    ViewBag.Title = "Account : Customer Login";
}

<form class="form" method="post">
    @Html.ValidationSummary(true)

    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username, new { autofocus = "" })
    @Html.ValidationMessageFor(m => m.Username)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    <br>
    <div>
        <label>
            @Html.CheckBoxFor(m => m.RememberMe)Remember Me
        </label>
    </div>
    <br>

    <section>
        <button>Login</button>
        <button type="reset">Reset</button>
    </section>
</form>

<p>
    [
    <a href="/Account/Register">Register</a> |
    <a href="/Account/ForgetPass">Forget Password?</a>
    ]
</p>

