@model forgetPassModel

@{
    ViewBag.Title = "Forget Password";
}


<form class="form" method="post">
    @Html.ValidationSummary(true)

    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username, new { maxlength = 20, autofocus = "" })
    @Html.ValidationMessageFor(m => m.Username)

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { maxlength = 100 })
    @Html.ValidationMessageFor(m => m.Email)

    <section>
        <button>Submit</button>
        <button type="reset">Reset</button>
    </section>
</form>



