@model ResetPassModel

@{
    ViewBag.Title = "resetPass";
}

<form class="form" method="post">
    @Html.ValidationSummary(true)

    @Html.LabelFor(m => m.New)
    @Html.PasswordFor(m => m.New, new { maxlength = 20 })
    @Html.ValidationMessageFor(m => m.New)

    @Html.LabelFor(m => m.Confirm)
    @Html.PasswordFor(m => m.Confirm, new { maxlength = 20 })
    @Html.ValidationMessageFor(m => m.Confirm)

    <section>
        <button>Update</button>
        <button type="reset">Reset</button>
    </section>
</form>

