
@model Customer

<script>
    $("#closbtn").click(function () {
        
        $('#myModal').hide('#myModal');
        docuemnt.attr('data-id') == null;
    });

</script>

<style>
    .tables {
        border-collapse: collapse;
    }

        .tables th, .tables td {
            border: 1px solid #333;
            padding: 3px;
        }

        .tables th {
            background: #666;
            color: #ffffff;
        }

        .tables tr:hover td {
            background: #ccc;
        }

    .detail th {
        text-align: left;
    }

    .tables th a {
        color: inherit;
    }

</style>


   
<div class="modal-content">

    <div class="modal-header" style="display:inline">

        <table border="0" align="center" width="420px" >
            <tr>
                <th align="left"><h2></h2></th>
                <td style="padding-left:55%"><button type="button" id="closbtn" class="close">×</button></td>
            </tr>
        </table>
    </div>

    <div class="modal-body">
        <p align="center" style="font-size:30px">

          <u> <b> Customer Info</b></u>
            </p> 

        <p align="center">
            
            <img src="~/Image/Profile/@Model.PhotoURL">
        </p>
        <table class="tables detail" align="center">
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>@Model.Username</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@Model.PhoneNo</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
        </table>
    </div>
            <div class="modal-footer">
            </div>
    </div>

        



