@using PagedList
@using PagedList.Mvc

@model IPagedList<Customer>

@{


    string[] fields = { "Name", "Username", "Phone", "Gender", "Email" };
    string sort = Request.Params["sort"];
    string sortdir = Request.Params["sortdir"];

    var ao = new AjaxOptions
    {
        UpdateTargetId = "target",
        LoadingElementId = "loader"
    };
}


<style>
    /* TODO */
    .table img {
        width: 100px;
        height: 100px;
        border: 1px solid #333;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translate(0, -50%);
        display: none;
    }

    .table tr:hover img {
        display: block;
    }

    .table tr {
        text-align: center;
    }

    .table th {
        width: 200px;
    }




    #myModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }




    /* The Close Button */
    #closebtn {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        left: auto;
    }

        #closebtn:hover,
        #closebtn:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


    /* Modal Body */
    .modal-body {
        padding: 0px 0px 25px 0px;
    }

    /* Modal Footer */
    .modal-footer {
        padding: 0px 40px;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 20%;
        height: 40%;
        background-color: #fefefe;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
</style>

@*<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@


<script>
    var TeamDetailPostBackURL = '/Admin/Customrdetail';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var username = $buttonClicked.attr('data-id');
            $.ajax({
                type: "GET",
                url: "/Admin/Customrdetail",
                data: { "username": username },
                datatype: "json",
                success: function (data) {

                    console.log(data);
                    $('#myModalContent').html(data);

                    $('#myModal').show();
                    username = null;

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

    });

    function edit(username) {
       // var username = $("#edit").val();
       // console.log("username =", username);
       // var Name = name;
       location.href = "/Admin/CustomerEdit?username=" + username;

       /* $.ajax({
            type: "GET",
            url: "/Admin/CustomerEdit",
            data: { "username": username },
            datatype: "json",
            success: function (data) {
                console.log(data);
            
            },
        });*/
    }

    function deleteMember(username) {
        //var username = $("#delete").val();

        //location.href = "/Admin/CustomerDelete?username=" + username;

        $.ajax({
            type: "POST",
            url: "/Admin/CustomerDelete",
            data: { "username": username },
            datatype: "json",
            success: function (data) {
                console.log(data);
                location.reload();
            },
        });
    }



</script>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog">

        <div id='myModalContent'>



        </div>
    </div>

</div>





<p>
    @Model.Count of @Model.TotalItemCount record(s) |
    <!--totalitemcount will count the total record in the database and must have IpagedList to activate the function-->
    Page @Model.PageNumber of @Model.PageCount

</p> <!--help to count the record in the database-->
<table class="table" id="detailCus">
    <tr>
        @*  <th width="100px">Name</th>
            <th width="100px"> Username</th>
            <th width="150px">Phone</th>
            <th width="100px">Gender</th>
            <th width="100px">Email</th>
            <th width="200px"></th>*@

        @foreach (var f in fields)
        {
            string d = "ASC";
            string c = "";

            if (f == sort)
            {
                d = sortdir == "DESC" ? "ASC" : "DESC";
                c = sortdir;
            }

            <th>
                @Ajax.ActionLink(f, null, new { sort = f, sortdir = d }, ao, new { @class = c })
            </th>
        }
        <th width="200px">
        </th>

    </tr>

    @foreach (var c in Model)
    {
        
        <tr>
            <td>@c.Name</td>
            <td>@c.Username</td>
            <td>@c.PhoneNo</td>
            <td>@(c.Gender == "F" ? "👧🏻  Female" : "👦🏻 Male")</td>
            <td>@c.Email</td>
            <td style="position: relative" align="center">
                @*<a href="~/Home/Detail?id=@s.Id">Detail</a>*@
                <button data-get="javascript:void(0);" data-id="@c.Username" class="anchorDetail"> Detail </button>
                <!--<a href="javascript:void(0);" class="anchorDetail" data-id="@c.Username">Detail</a>-->
                <!-- <button data-get="/Admin/CustomerEdit?username=@c.Username">Edit</button>-->
                <button id="edit" onclick="edit('@c.Username')">Edit</button>
                <button id="delete" value="@c.Username" onclick="deleteMember('@c.Username')">Delete</button>
                <img src="~/Image/Profile/@c.PhotoURL" />
            </td>

        </tr>
    }
</table>

@{
    var po = PagedListRenderOptions.ClassicPlusFirstAndLast;
    po.LinkToFirstPageFormat = "First";
    po.LinkToLastPageFormat = "Last";
    po.LinkToPreviousPageFormat = "Previous";
    po.LinkToNextPageFormat = "Next";

    // TODO: AJAX option

}

<!-- TODO: Enable AJAX -->
@Html.PagedListPager(
    Model,
    p => $"?page={p}",
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(po, ao)
)
