@using PagedList
@using PagedList.Mvc
@model  IPagedList<Reservation>


@{



}



<style>
    /* TODO */
    .table img {
        width: 200px;
        height: 200px;
        border: 1px solid #333;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translate(0, -50%);
        display: none;
    }

    .table tr:hover img {
        display: block;
    }

    .table td {
        text-align: center;
    }

    button {
        margin: 5px;
    }
</style>

<script>
    function updateUnpaid(id, status) {
        //var id = $("#Bunpaid").val();
        // var status = $("#unpaid").val();

        //location.href = "/Admin/ReservationUpdatePaid?id=" + id + "&status=" + status;

        $.ajax({
            type: "POST",
            url: "/Admin/ReservationUpdatePaid",
            data: {
                "id": id,
                "status": status
            },
            datatype: "json",
            success: function (data) {
                console.log(data);
                location.reload();
            },
        });
    }

    function updateStatus(id, status) {
        //var id = $("#Bstatus").val();
        // var status = $("#IStatus").val()

        //location.href = "/Admin/ReservationUpdatePaid?id=" + $("#Bstatus").val() + "&status=" + $("#IStatus").val();

        $.ajax({
            type: "POST",
            url: "/Admin/ReservationStatus",
            data: {
                "id": id,
                "status": status
            },
            datatype: "json",
            success: function (data) {
                console.log(data);
                location.reload();
            },
        });
    }

    function searchyear() {

        var SelectedYear = $("#year").val();

        location.href = "/Admin/ReservationList?SelectedYear=" + SelectedYear;


    }

</script>


<div>

    @*<p style="display:inline-block; margin-right:5px">Search: </p>@Html.TextBox("name", null, new { autofocus = "" })*@
    <!--<input type="text" name="name" autofocus value="">-->
    <!--it use to enter the name then the name will in the textbox and make a autofocus-->
   
</div>
<p>
    @Model.Count of @Model.TotalItemCount record(s) |
    Page @Model.PageNumber of @Model.PageCount

</p> <!--help to count the record in the database-->
<table class="table">
    <tr>

        <th width="100">  Reservation Id  </th>
        <th width="100">  Username  </th>
        <th width="100">  Room  </th>
        <th width="100">  CheckIn  </th>
        <th width="100">  CheckOut  </th>
        <th width="100">  Person  </th>
        <th width="100">  Total  </th>
        <th width="100">  Paid  </th>
        <th width="100">  Status  </th>
        <th width="100"> Payment Method</th>
        <th width="200"></th>


    </tr>
    <!--hahah hello world-->
    @foreach (var r in Model)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Username</td>
            <td>@r.Room.RoomType.Name</td>
            <td>@r.CheckIn</td>
            <td>@r.CheckOut</td>
            <td>@r.Person</td>
            <td>@r.Total</td>
            <td>@r.Paid</td>
            <td>@r.Status</td>
            <td>@r.PaymentMethod</td>
            <td style="position: relative" class="button">

                @if (@r.Paid == true)
                {
                    // <button data-post="/Admin/ReservationUpdatePaid?id=@r.Re.Id">Unpaid</button>
                    <button id="Bunpaid" value="@r.Id" onclick="updateUnpaid('@r.Id', 0)">Unpaid</button>
                    <input type="hidden" id="unpaid" name="name" value=0 />
                }
                else
                {
                    //<button data-post="/Admin/ReservationUpdatePaid?id=@r.Re.Id">Paid</button>
                    <button id="Bunpaid" value="@r.Id" onclick="updateUnpaid('@r.Id', 1)">paid</button>
                    <input type="hidden" id="unpaid" name="name" value=1 />
                }

                @if (r.Status == "Reserved")
                {
                    //<button data-get="/Admin/ReservationStatus?id=@r.Re.Id">Check-In</button>
                    <button id="Bstatus" value="@r.Id" onclick="updateStatus('@r.Id', 1)">Check-In</button>
                    <input type="hidden" id="IStatus" name="name" value="1" />
                }
                else if (r.Status == "Check-In")
                {
                    //<button data-get="/Admin/ReservationStatus?id=@r.Re.Id">Check-Out</button>
                    <button id="Bstatus" value="@r.Id" onclick="updateStatus('@r.Id', 0)">Check-Out</button>
                    <input type="hidden" id="IStatus" name="name" value="0" />
                }
                <button data-get="/Admin/ReservationStatus?id=@r.Id&status=0">Edit</button>

                <img src="~/Image/Room/@r.Room.RoomType.PhotoURL" />
            </td>

        </tr>
    }
</table>




@{
    var po = PagedListRenderOptions.ClassicPlusFirstAndLast;
    po.LinkToFirstPageFormat = "First";
    po.LinkToLastPageFormat = "Last";
    po.LinkToPreviousPageFormat = "Previous";
    po.LinkToNextPageFormat = "Next";

    // TODO: AJAX option
    var ao = new AjaxOptions
    {
        //Url = "/Home/Demo4",
        //HttpMethod = "get",
        UpdateTargetId = "target",
        LoadingElementId = "loader",
    };
}

<!-- TODO: Enable AJAX -->
@Html.PagedListPager(
    Model,
    p => $"?page={p}",
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(po, ao)
)
