@using PagedList
@using PagedList.Mvc

@model IPagedList<joinRoom>


<style>
    /* TODO */
    .table img {
        width: 100px;
        height: 100px;
        border: 1px solid #333;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translate(0, -50%);
        display: none;
    }

    .table tr:hover img {
        display: block;
    }




    #myModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }




    /* The Close Button */
    #closebtn {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        left: auto;
    }

        #closebtn:hover,
        #closebtn:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


    /* Modal Body */
    .modal-body {
        padding: 0px 0px 25px 0px;
    }

    /* Modal Footer */
    .modal-footer {
        padding: 0px 40px;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 20%;
        height: 40%;
        background-color: #fefefe;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .table th {
        width: 200px;
    }
</style>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<script>
    $(function () {

        $(".anchorDetail").click(function () {

            $.get("/Admin/AddRoom", {}, html => {
                //console.log(data);
                $('#myModalContent').html(html);
                $('#myModal').show();
                //username = null;
            });

            //$.ajax({
            //    type: "GET",
            //    url: "/Admin/AddRoom",
            //    datatype: "json",
            //    success: function (data) {

            //        console.log(data);
            //        $('#myModalContent').html(data);

            //        $('#myModal').show();
            //        username = null;

            //    },
            //    error: function () {
            //        alert("Dynamic content load failed.");
            //    }
            //});
        });

    });



    function updateStatus(id, status) {
       // var id = $("#s1").val();
       // var status = $("#s11").val();

        $.ajax({
            type: "POST",
            url: "/Admin/RoomEdit",
            data: {
                "RoomId": id,
                "status": status
            },
            datatype: "json",
            success: function (data) {
                console.log(data);
                location.reload();
            },
        });
    }





</script>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog">

        <div id='myModalContent'>



        </div>
    </div>

</div>













<p id="p">
    @Model.Count of @Model.TotalItemCount record(s) |
    Page @Model.PageNumber of @Model.PageCount
</p> <!--help to count the record in the database-->
<!--Add button-->
<div style="padding-left: 550px">
    <button data-get="javascript:void(0);" class="anchorDetail"> Add Room</button> <button data-get="/Admin/RoomType">Room type</button>

</div>
<table class="table" id="detailCus">
    <tr>
        <th width="100px">Room Id</th>
        <th width="100px">Room Status</th>
        <th width="100px">Name</th>
        <th width="100px">Price</th>
        <th width="100px">Person</th>
        <th width="200px"></th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.room.Id</td>
            <td>@r.room.Status</td>
            <td>@r.roomtype.Name</td>
            <td>RM @r.roomtype.Price</td>
            <td>@r.roomtype.Person</td>
            <td style="position: relative" align="center">
                @*<a href="~/Home/Detail?id=@s.Id">Detail</a>*@
                @* <a href="javascript:void(0);" class="anchorDetail" data-id="">Detail</a>*@
                @*<button data-get="/Admin/RoomEdit?RoomId=@r.room.Id&status=b">Block</button>
                  <button data-post="/Admin/RoomEdit?RoomId=@r.room.Id&status=a">Active</button>
                  <button data-post="/Admin/RoomEdit?RoomId=@r.room.Id&status=v">Vacant</button>*@
                <button id="s1" value="@r.room.Id" onclick="updateStatus('@r.room.Id', 'b')">Block</button>
                <input type="hidden" id="s11" name="name" value='b' />

                <button id="s2" value="@r.room.Id" onclick="updateStatus('@r.room.Id', 'a')">Active</button>
                <input type="hidden" id="s21" name="name" value='a' />

                <button id="s3" value="@r.room.Id" onclick="updateStatus('@r.room.Id', 'v')">Vacant</button>
                <input type="hidden" id="s31" name="name" value='v' />



                <img src="~/Image/Profile/@r.roomtype.PhotoURL" />
            </td>

        </tr>
    }
</table>




@{
    var po = PagedListRenderOptions.ClassicPlusFirstAndLast;
    po.LinkToFirstPageFormat = "First";
    po.LinkToLastPageFormat = "Last";
    po.LinkToPreviousPageFormat = "Previous";
    po.LinkToNextPageFormat = "Next";

    // TODO: AJAX option
    var ao = new AjaxOptions
    {
        //Url = "/Home/Demo4",
        //HttpMethod = "get",
        UpdateTargetId = "target",
        LoadingElementId = "loader",
    };
}

<!-- TODO: Enable AJAX -->
@Html.PagedListPager(
    Model,
    p => $"?page={p}",
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(po, ao)
)
