@model IEnumerable<Admin>

@{
    ViewBag.Title = "Admin List";
}



@section head {
    <style>
        /* TODO */
        .table img {
            width: 100px;
            height: 100px;
            border: 1px solid #333;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: calc(100% + 10px);
            transform: translate(0, -50%);
            display: none;
        }

        .table tr:hover img {
            display: block;
        }
    </style>
}

<button data-get="/Admin/AddAdmin"> Add Admin</button>
<p>@Model.Count() record(s)</p> <!--help to count the record in the database-->
<table class="table">
    <tr>

        <th>Name</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Email</th>
        <th></th>
    </tr>

    @foreach (var a in Model)
    {
        <tr>
            <td>@a.Name</td>
            <td>@a.PhoneNo</td>
            <td>@(a.Gender == "F" ? "👧🏻  Female" : "👦🏻 Male")</td>
            <td>@a.Email</td>
            <td style="position: relative">
                @*<a href="~/Home/Detail?id=@s.Id">Detail</a>*@
                <button data-get="/Admin/Admindetail?username=@a.Username">Detail</button>
                <button data-get="/Admin/AdminEdit?username=@a.Username">Edit</button>
                <img src="~/Photo/@a.PhotoURL" />
            </td>

        </tr>
    }
</table>