@model Customer
@{
    ViewBag.Title = "Customrdetail";
}


<p>
    <img src="~/Image/Profile/@Model.PhotoURL">
</p>

<table class="table detail">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>UserName</th>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNo</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
</table>


