@model IEnumerable<Reservation>

@{
    ViewBag.Title = "Home : Reserve History";
}

<p>
    <button data-post="/Home/Reset">Reset</button>
</p>

<table class="table" width="50%">
    <tr>
        <th>Id</th>
        <th>Member</th>
        <th>Room</th>
        <th>CheckIn</th>
        <th>CheckOut</th>
        <th>Day</th>
        <th></th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Customer.Name (@r.Username)</td>
            <td>@r.RoomId (@r.Room.RoomType.Name)</td>
            <td>@r.CheckIn.ToString("yyyy-MM-dd")</td>
            <td>@r.CheckOut.ToString("yyyy-MM-dd")</td>
            <td>@r.Day</td>
            <td>
                <button data-get="/Home/Detail?Id=@r.Id">Detail</button>
            </td>
        </tr>
    }
</table>

